.body {
    margin: 0px;
    /* background-color: white; */
}


.logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-left: 650px;
    /* text-align: center; */
}

.second-letter {
    font-size: 40px;
}

.first-letter {
    font-size: 20px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    padding-top: 5px;
    padding-bottom: 5px;

}

.list {
    font-size: 18px;
}

.banner-img {
    width: 1500px;
    margin-top: 8px
}

.welcome {
    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
    height: 100px
}

hr {
    width: 20px;
    height: 2px;
    border-radius: 30px;
    border-style: solid;
    background-color: black;
}


.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 230px;
}

.section-2 {
    margin-top: 0px;

}

.right-img {
    width: 200px;
    height: 150px;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
}

.lorem {
    text-align: justify;
}

.read-more {
    padding: 10px 25px;
    background-color: white;
    border-color: gray;
    margin-top: 10px;
}

.showcase {
    /* height: 500px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cir-image {
    height: 250px;
    width: 250px;
    margin-top: 0px;
    border-radius: 200px;

}

.text-show {
    height: 250px;
    text-align: top;
    font-size: 80px;
}


.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-showcase {
    display: grid;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 80px;
    height: 150px;

}

.his {
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
    text-align: center;
    height: 5px;
}

.paragraph {
    font-size: 20px;
}


@media only screen and (max-width:1200px) {
    .logo {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        margin-left: 0px;
        /* text-align: center; */
    }

    .second-letter {
        font-size: 40px;
    }

    .first-letter {
        font-size: 20px;
    }

    .navbar {
        width: 100%;
    }

    .nav {
        list-style: none;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid brown;
        border-bottom: 2px solid brown;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;




    }

    .list {
        font-size: 8px;
        padding-right: 10px;
        text-align: center;
    }

    .banner-img {
        width: 100%;
        margin-top: 8px
    }

    .dummy {
        height: 50px;
    }

    .welcome {
        text-align: center;
        font-size: 80px;
        font-family: sans-serif;
        height: 200px
    }

    hr {
        width: 20px;
        height: 2px;
        border-radius: 30px;
        border-style: solid;
        background-color: black;
    }


    .section {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50%;
    }

    .section-2 {
        margin-top: 0px;


    }

    .right-img {
        width: 200px;
        height: 150px;
        float: right;
        margin-left: 10px;
        margin-top: 20px;
    }

    .lorem {
        text-align: justify;
    }

    .read-more {
        padding: 10px 25px;
        background-color: white;
        border-color: gray;
        margin-top: 10px;
    }

    .showcase {
        height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cir-image {
        height: 250px;
        width: 250px;
        margin-top: 0px;
        border-radius: 200px;

    }



    .text-show {
        height: 300px;
        text-align: top;
        font-size: 80px;
    }


    .text {

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .image-showcase {
        display: grid;
        display: inline-grid;
        grid-template-columns: auto;
        grid-row-gap: 80px;
        /* grid-template-rows: auto auto auto; */
        grid-column-gap: 80px;
        height: 850px;

    }

    .history {
        height: 100px;
    }

    .last-sec {
        height: 800px;
    }


    .his {
        font-size: 60px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        ;
        text-align: center;
        height: 5px;
    }

    .paragraph {
        font-size: 20px;
    }


}